<!-- Etiqueta de apertura que especifica el tipo de documento -->
<!DOCTYPE html>
<!-- Definimos el lenguaje -->
<html lang="es">
  <!-- Agregamos el head de la pagina para los encabezados y configuracion de la pagina -->
  <head>
    <link rel="shortcut icon" href="resources/store-front.png" type="image/x-icon"/>
    <!-- Cargamos un par metadatos-->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Tienda de ropa online donde podras comprar ropa, calzado, playeras, pantalones y mucho más"
    />
    <meta
      name="keywords"
      content="Tienda, Tienda online, playeras, pantalones, compra ropa en linea"
    />
    <meta name="" content="index, follow" />
    <!-- Define el titulo del documento -->
    <title>Novedades Luz y Zapatería</title>
    <!-- Agregames link de css para estilizar -->
    <link
      rel="stylesheet"
      href="resources/bootstrap-icons/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="resources/scss/Bootstrap5.css" />
    <link rel="stylesheet" href="resources/css/products.css" />
    <link rel="stylesheet" href="resources/css/style.css" />
    <link rel="stylesheet" href="resources/css/style_index.css" />
  </head>
  <!-- Agregamos la etiqueda body para el contenido de la pagina web  DOM-->
  <body>
      <!-- Defininmos la barra de navegacion del sitio -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Offcanvas navbar large">
        <div class="container-fluid">
          <a class="navbar-brand" href="/Carrito-de-compras">
            <i class="bi bi-cart4 SVG-icon"></i>
            <span id="Cart_counter">0</span>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2" aria-controls="offcanvasNavbar2" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbar2" aria-labelledby="offcanvasNavbar2Label">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbar2Label">Offcanvas</h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/Calzado">Calzado</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/Playeras">Playeras</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/Pantalones">Pantalones</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/Ropa-interior">Ropa interior</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Cuenta
                  </a>
                  <ul class="dropdown-menu bg-dark">
                    <li><a class=" btn btn-outline-danger " href="#">Cerrar sesión</a></li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/Sobre-nosotros">Sobre nosotros</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>

    <!-- Defininmos el encabezado del sitio -->
    <header>
      <h1>Novedades Luz <br> y Zapateria</h1>
      <!--Define el titulo principal de la pagina para los buscadores-->
    </header>
    <div class="container">
      <p class="container-title">! Bienvenido a nuestra tienda ¡<br>Conocenos</p>
    
      <div class="gradient-cards">
        <div class="card">
          <div class="container-card bg-green-box">
            <p class="card-title">Zero-cost Possibilities</p>
            <p class="card-description">Hubble lets users borrow USDH for a one-time 0.5% fee. No variable rates. No interest charged, ever.</p>
          </div>
        </div>
    
        <div class="card">
          <div class="container-card bg-white-box">
            <p class="card-title">Multi-Asset Collateral</p>
            <p class="card-description">Deposit a variety of assets on Hubble, raise your collateral ratio, and unlock the liquidity in your wallet.</p>
          </div>
        </div>
    
        <div class="card">
          <div class="container-card bg-yellow-box">
            <p class="card-title">Get Yield on Deposits</p>
            <p class="card-description">While your collateral is deposited, delegate it to earn the highest yield available in the Solana ecosystem.</p>
          </div>
        </div>
    
        <div class="card">
          <div class="container-card bg-blue-box">
            <p class="card-title">Get up to 11x Leverage</p>
            <p class="card-description">Hubble’s capital-efficient 110% collateral ratio lets users leverage up to 11x on their deposits.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Partimos el dom en secciones para separar el carrusel -->
    <section class="carousel-HW center">
      <div
        id="carouselExampleInterval"
        class="carousel slide controller"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="2500">
            <a href="#">
              <!-- Se utiliza para insertar imagenes a la pagina
              src ruta
            alt contenido preventico por si no carga -->
              <img
                src="resources/img/calgray2.png"
                class="d-block carousel-img"
                alt="..."
              />
            </a>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img
              src="resources/img/dipant.png"
              class="d-block carousel-img"
              alt="..."
            />
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img
              src="resources/img/dipla.png"
              class="d-block carousel-img"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="resources/img/diroin.png"
              class="d-block carousel-img"
              alt="..."
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleInterval"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleInterval"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </section>
    <br /><br />
    <!--Inserta un salto de linea o de bloque -->
    <div class="divider"></div>
    <!-- Definimos el contenido principal de la pagina -->
    <main>
      <div class="card text-bg-dark">
        <img src="resources/img/13.jpg" class="card-img" alt="..." style="object-fit: cover; width: 100%;" height="350px" ">
        <div class="card-img-overlay">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small>Last updated 3 mins ago</small></p>
        </div>
      </div>
      <br>
      <br>
      <br>

      <div class="card-group">
        <div class="card">
          <img src="resources/img/12.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Tenis</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          <div class="card-footer">
            <small class="text-body-secondary">Last updated 3 mins ago</small>
          </div>
        </div>
        <div class="card">
          <img src="resources/img/13.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Playeras</h5>  
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          </div>
          <div class="card-footer">
            <small class="text-body-secondary">Last updated 3 mins ago</small>
          </div>
        </div>
        <div class="card">
          <img src="resources/img/14.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Pantalones</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          </div>
          <div class="card-footer">
            <small class="text-body-secondary">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
    </main>

    <!-- Agrega pie de pagina a la pagina web -->
    <footer>
      <a href="/Contacto" target="_blank">contacto</a>
      <div class="divider" style="width: 80%; margin-bottom: 1em;"></div>
      <span class="span">
       <!--Agregaos parrafo a la pagina web -->
       Somos una tienda de moda que ofrece una amplia gama de ropa y
       calzado de alta calidad a precios accesibles. Nos esforzamos por
       proporcionar una experiencia de compra confiable y
       satisfactoria, manteniéndonos al día con las últimas tendencias.
      </span>
      <span>
       <br>
        <i class="bi bi-facebook"></i>
        <i class="bi bi-twitter"></i>
        <i class="bi bi-instagram"></i>
        <br><br>
      </span><br>
       <div class="down">
         <p>© 2024 Copyright &nbsp; Novedades Luz y Zapatería</p>
       </div>
     </footer>

    <!-- Agregamos el script para un mejor funcionamiento -->
    <script src="resources/js/Bootstrap5.js"></script>
  </body>
</html>
